name: Build
on: [push, pull_request]
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 20
      matrix:
        version: ["b1.7.3"]
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: wrapper validation
        uses: gradle/actions/wrapper-validation@v4

      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install python packages
        run: python -m pip install --upgrade pip

      - name: run nostalgia script
        run: python nostalgia.py clean build mapMinecraftToNamed ${{ matrix.version }}